# Python requirements for unit tests
-r ../requirements.txt
# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak

unittest2

# Use py.test as test-runner
pytest
pytest-cov
# Makes some coverage report for the tests
coverage
# Report coverage results to coveralls.io
coveralls

# Static code and doc analysis libraries
pylint
pep8
pep257

